manifest {
    homePage = 'https://github.com/ImaneLboukili/WGS_analysis/tree/master/Qualimap'
    description = 'Quality control of WGS alignment data'
    mainScript = 'Qualimap.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
}

process {
    container = 'WGS_analysis/Qualimap'
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/Qualimap_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/Qualimap_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/Qualimap_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/Qualimap_dag.html"
}