manifest {
    homePage = 'https://github.com/IARCbioinfo/Qualimap-nf'
    description = 'Quality control of aligned reads'
    mainScript = 'Qualimap.nf'
}

process {
    container = 'iarcbioinfo/qualimap-nf'
    conda = ''
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/Qualimap_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/Qualimap_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/Qualimap_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/Qualimap_dag.html"
}
